<head>
  <title>SuperNET Job board and developer listing for SuperNET and cryptocurrencies </title>
  <meta name="description" content="We Work SuperNET is a job board and community space for users of the SuperNET.  This site provides a complete listing of positions requiring the SuperNET skill set, as well as to profiles for developers experts for hire.">
	<meta name="keywords" content="SuperNET,Meteor,Jobs,Developers,Contracts,Freelance,Remote,Telecommute,Consultants,Crypto">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
